workflows/backups/Bippity-Email-Command-Processor-MultiTenant_backup_20260113_103854.json
{
  "updatedAt": "2026-01-10T07:28:45.024Z",
  "createdAt": "2026-01-10T01:16:31.955Z",
  "id": "jk5gL6NtGAGZi9G5",
  "name": "Bippity - Email Command Processor MultiTenant",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {},
      "id": "f543c89c-4ad2-40df-860c-526cd03e981c",
      "name": "Execute Workflow Trigger",
      "type": "n8n-nodes-base.executeWorkflowTrigger",
      "typeVersion": 1.1,
      "position": [
        -832,
        1056
      ]
    },
    {
      "parameters": {
        "jsCode": "// Flatten input and ensure we have unified_event_id\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const json = item.json || {};\n  \n  // Get unified_event_id from input (could be direct or nested)\n  const unifiedEventId = json.unified_event_id || json.id || json.body?.unified_event_id;\n  \n  if (!unifiedEventId) {\n    // If no ID, try to find it in all input items\n    for (const inputItem of items) {\n      if (inputItem.json?.unified_event_id) {\n        results.push({\n          json: {\n            unified_event_id: inputItem.json.unified_event_id,\n            user_id: inputItem.json.user_id || json.user_id,\n            email_content: inputItem.json.email_content || json.email_content || json.content,\n            subject: inputItem.json.subject || json.subject,\n            sender_email: inputItem.json.sender_email || json.sender_email\n          }\n        });\n        break;\n      }\n    }\n    if (results.length === 0) {\n      results.push({\n        json: {\n          error: 'No unified_event_id provided',\n          ...json\n        }\n      });\n    }\n  } else {\n    results.push({\n      json: {\n        unified_event_id: unifiedEventId,\n        user_id: json.user_id || json.body?.user_id,\n        email_content: json.email_content || json.content || json.body?.email_content,\n        subject: json.subject || json.body?.subject,\n        sender_email: json.sender_email || json.body?.sender_email\n      }\n    });\n  }\n}\n\nreturn results.length > 0 ? results : [{ json: { error: 'No input data' } }];"
      },
      "id": "1ad3c0f1-b43a-42a2-9142-1c598a95ba17",
      "name": "Flatten Input",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        -624,
        1056
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-has-error",
              "leftValue": "={{ $json.error }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "e18d9257-57cf-47de-978b-4c0c6f7f471d",
      "name": "Input Valid?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -432,
        1056
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "unified_events",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.unified_event_id }}"
            }
          ]
        }
      },
      "id": "fb2ce1e3-5b31-4354-bda5-0af5c607da6e",
      "name": "Get Unified Event",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -224,
        1056
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "LiyXJ3va3HnvvAkS",
          "name": "Supabase account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "unified_events",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "processing_status",
              "fieldValue": "processing"
            }
          ]
        }
      },
      "id": "db8b16fa-1fd1-48d4-89b9-c3db56b2c7fc",
      "name": "Update Status to Processing",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        -16,
        1056
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "LiyXJ3va3HnvvAkS",
          "name": "Supabase account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "=You are a command parser for Bippity.boo, a family communication assistant.\n\nUsers send emails to fgm@gmail.com with commands to:\n1. Manage family facts (create, update, delete, list/search)\n2. Manage calendar events (create, update, search, get by date)\n3. Manage tasks (create, update, complete, delete, search)\n\nParse this email and extract commands. Be flexible with natural language.\n\nEmail from: {{ $json.sender_email }}\nSubject: {{ $json.subject }}\nBody:\n{{ $json.content }}\n\nOutput ONLY valid JSON in this exact format (no markdown, no code blocks, just the JSON object):\n{\n  \"command_type\": \"family_facts\" | \"calendar\" | \"tasks\" | \"mixed\",\n  \"operations\": [\n    {\n      \"operation\": \"create\" | \"read\" | \"update\" | \"delete\" | \"search\",\n      \"entity\": \"family_fact\" | \"calendar_event\" | \"task\",\n      \"parameters\": {},\n      \"confidence\": 0.95,\n      \"original_text\": \"excerpt from email\"\n    }\n  ],\n  \"requires_confirmation\": false\n}\n\nIf unclear, set confidence low (<0.7) and return empty operations array.",
        "options": {
          "systemMessage": "You are a precise command parser. Output ONLY valid JSON. No explanations. No markdown code blocks. Just the JSON object. If you cannot parse a command, return {\"command_type\": \"unknown\", \"operations\": [], \"requires_confirmation\": false}."
        }
      },
      "id": "ae12229b-1f74-4630-87a7-405630044a7a",
      "name": "Parse Command with AI",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        176,
        1056
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "model": {
          "__rl": true,
          "mode": "list",
          "value": "gpt-4o"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 2000,
          "temperature": 0.3
        }
      },
      "id": "6f1f36c7-1731-487b-a5b1-8965cff97f2a",
      "name": "GPT-4o Model",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        176,
        1264
      ],
      "credentials": {
        "openAiApi": {
          "id": "D1MyVMAJ9zLNahg3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse AI output as JSON\nconst items = $input.all();\nconst eventData = $('Get Unified Event').first().json;\nconst results = [];\n\nfor (const item of items) {\n  try {\n    let parsed = {};\n    const output = item.json?.output || item.json?.text || item.json?.response || '';\n    \n    // Try to extract JSON from AI output (may be wrapped in markdown code blocks)\n    let jsonStr = String(output).trim();\n    \n    // Remove markdown code blocks if present\n    if (jsonStr.includes('```')) {\n      const match = jsonStr.match(/```(?:json)?\\n([\\s\\S]*?)\\n```/);\n      if (match && match[1]) {\n        jsonStr = match[1].trim();\n      } else {\n        // Try without language tag\n        const match2 = jsonStr.match(/```\\n([\\s\\S]*?)\\n```/);\n        if (match2 && match2[1]) {\n          jsonStr = match2[1].trim();\n        }\n      }\n    }\n    \n    // Remove leading/trailing whitespace and try to parse\n    jsonStr = jsonStr.trim();\n    \n    // Ensure it starts with { or [\n    if (!jsonStr.startsWith('{') && !jsonStr.startsWith('[')) {\n      // Try to find JSON in the string\n      const jsonMatch = jsonStr.match(/({[\\s\\S]*})/);\n      if (jsonMatch) {\n        jsonStr = jsonMatch[1];\n      }\n    }\n    \n    parsed = JSON.parse(jsonStr);\n    \n    // Merge with original event data\n    results.push({\n      json: {\n        ...eventData,\n        parsed_commands: parsed,\n        command_type: parsed.command_type || 'unknown',\n        operations: parsed.operations || [],\n        requires_confirmation: parsed.requires_confirmation || false\n      }\n    });\n  } catch (e) {\n    // If parsing fails, treat as error\n    results.push({\n      json: {\n        ...eventData,\n        parsed_commands: { error: String(e), raw_output: item.json?.output || item.json?.text || '' },\n        command_type: 'error',\n        operations: [],\n        parse_error: true\n      }\n    });\n  }\n}\n\nreturn results.length > 0 ? results : [{ json: { ...eventData, error: 'No AI output' } }];"
      },
      "id": "77a1a29f-a93d-4a64-9a66-35157949e3be",
      "name": "Parse AI Output JSON",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        528,
        1424
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-parse-error",
              "leftValue": "={{ $json.parse_error }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "d659711b-80b4-4133-a365-2c4f3761d6f4",
      "name": "Parse Successful?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        576,
        1056
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 3,
                  "leftValue": "",
                  "caseSensitive": false,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "check-family-facts",
                    "leftValue": "={{ $json.command_type }}",
                    "rightValue": "family_facts",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "family_facts"
            },
            {
              "conditions": {
                "options": {
                  "version": 3,
                  "leftValue": "",
                  "caseSensitive": false,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "check-calendar",
                    "leftValue": "={{ $json.command_type }}",
                    "rightValue": "calendar",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "calendar"
            },
            {
              "conditions": {
                "options": {
                  "version": 3,
                  "leftValue": "",
                  "caseSensitive": false,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "check-tasks",
                    "leftValue": "={{ $json.command_type }}",
                    "rightValue": "tasks",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "tasks"
            },
            {
              "conditions": {
                "options": {
                  "version": 3,
                  "leftValue": "",
                  "caseSensitive": false,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "check-mixed",
                    "leftValue": "={{ $json.command_type }}",
                    "rightValue": "mixed",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "mixed"
            }
          ]
        },
        "options": {
          "fallbackOutput": "output_0"
        }
      },
      "id": "7164aafc-9e22-48a7-8552-e41a96940178",
      "name": "Route by Command Type",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        784,
        1056
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Handle family facts operations\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const operations = item.json.operations || [];\n  const userId = item.json.user_id;\n  \n  // Process each operation\n  for (const op of operations) {\n    if (op.entity === 'family_fact') {\n      results.push({\n        json: {\n          ...item.json,\n          operation_type: op.operation,\n          operation_params: op.parameters || {},\n          operation_entity: op.entity,\n          operation_confidence: op.confidence || 0,\n          original_text: op.original_text || ''\n        }\n      });\n    }\n  }\n}\n\nreturn results.length > 0 ? results : [{ json: { ...items[0]?.json, error: 'No family_fact operations found' } }];"
      },
      "id": "94926916-e9e4-49b5-aa4a-0cf6d5b2fcc5",
      "name": "Family Facts Handler",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        976,
        864
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "rules": {
          "values": [
            {
              "conditions": {
                "options": {
                  "version": 3,
                  "leftValue": "",
                  "caseSensitive": false,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "check-create",
                    "leftValue": "={{ $json.operation_type }}",
                    "rightValue": "create",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "create"
            },
            {
              "conditions": {
                "options": {
                  "version": 3,
                  "leftValue": "",
                  "caseSensitive": false,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "check-read",
                    "leftValue": "={{ $json.operation_type }}",
                    "rightValue": "read",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "read"
            },
            {
              "conditions": {
                "options": {
                  "version": 3,
                  "leftValue": "",
                  "caseSensitive": false,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "check-update",
                    "leftValue": "={{ $json.operation_type }}",
                    "rightValue": "update",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "update"
            },
            {
              "conditions": {
                "options": {
                  "version": 3,
                  "leftValue": "",
                  "caseSensitive": false,
                  "typeValidation": "strict"
                },
                "conditions": [
                  {
                    "id": "check-delete",
                    "leftValue": "={{ $json.operation_type }}",
                    "rightValue": "delete",
                    "operator": {
                      "type": "string",
                      "operation": "equals"
                    }
                  }
                ],
                "combinator": "and"
              },
              "renameOutput": true,
              "outputKey": "delete"
            }
          ]
        },
        "options": {
          "fallbackOutput": "output_0"
        }
      },
      "id": "5cc0c27b-3c7c-4fe5-86a0-59ba464c30d9",
      "name": "Route Facts Operation",
      "type": "n8n-nodes-base.switch",
      "typeVersion": 3.4,
      "position": [
        1184,
        864
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "tableId": "family_facts",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.user_id }}"
            },
            {
              "fieldId": "fact_text",
              "fieldValue": "={{ $json.operation_params.fact_text || $json.operation_params.text || $json.original_text }}"
            },
            {
              "fieldId": "fact_type",
              "fieldValue": "={{ $json.operation_params.fact_type || 'general' }}"
            },
            {
              "fieldId": "source",
              "fieldValue": "email_command"
            }
          ]
        }
      },
      "id": "448c8f88-3142-4190-a059-f52fc1216470",
      "name": "Create Family Fact",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1376,
        656
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "LiyXJ3va3HnvvAkS",
          "name": "Supabase account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "family_facts",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "user_id",
              "condition": "eq",
              "keyValue": "={{ $json.user_id }}"
            }
          ]
        }
      },
      "id": "9284a08f-ac32-4946-babd-2a909f652ec4",
      "name": "Read Family Facts",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1376,
        864
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "LiyXJ3va3HnvvAkS",
          "name": "Supabase account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Format response for confirmation email\nconst items = $input.all();\nconst eventData = $('Get Unified Event').first().json;\nconst results = [];\n\n// Collect all operation results\nconst operationResults = [];\n\nfor (const item of items) {\n  if (item.json && !item.json.error) {\n    operationResults.push({\n      success: true,\n      operation: item.json.operation_type || 'unknown',\n      entity: item.json.operation_entity || 'unknown',\n      result: item.json.id ? `Created/Updated ID: ${item.json.id}` : 'Completed',\n      data: item.json\n    });\n  } else {\n    operationResults.push({\n      success: false,\n      operation: item.json?.operation_type || 'unknown',\n      error: item.json?.error || 'Unknown error'\n    });\n  }\n}\n\nresults.push({\n  json: {\n    ...eventData,\n    operation_results: operationResults,\n    processing_status: operationResults.every(r => r.success) ? 'completed' : 'error'\n  }\n});\n\nreturn results;"
      },
      "id": "ee72e000-c9fd-4d10-a526-142ab8dd7fd5",
      "name": "Format Response",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1584,
        864
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Create confirmation email body for Gmail send node\nconst items = $input.all();\nconst eventData = $('Get Unified Event').first().json;\nconst emailContent = eventData.content || '';\nconst subject = eventData.subject || 'Your email to Bippity.boo';\nconst senderEmail = eventData.sender_email || '';\n\n// Build email body with operation results (HTML format)\nlet emailBody = `Hi,<br><br>I've processed your email. Here's what I did:<br><br>`;\n\nconst operations = items[0]?.json?.operation_results || [];\n\nif (operations.length === 0) {\n  emailBody += `\u274c I couldn't understand your command. Please try again with clearer instructions.<br><br>Examples:<br>- \"Add fact: Cora goes to Lincoln Elementary\"<br>- \"Show my calendar for next week\"<br>- \"Create task: Buy soccer cleats due Friday\"<br>`;\n} else {\n  for (const op of operations) {\n    if (op.success) {\n      emailBody += `\u2705 ${op.operation} ${op.entity}: ${op.result || 'Completed'}<br>`;\n    } else {\n      emailBody += `\u274c Failed to ${op.operation} ${op.entity}: ${op.error || 'Unknown error'}<br>`;\n    }\n  }\n}\n\nemailBody += `<br>View your <a href=\"https://bippity.boo/dashboard\">dashboard</a><br><br>- Your Fairy God Mother \ud83e\udd16<br><br><hr><br><strong>Original message:</strong><br>Subject: ${subject}<br>${emailContent.substring(0, 500).replace(/\\n/g, '<br>')}`;\n\nreturn [{\n  json: {\n    to_email: senderEmail,\n    subject: `Re: ${subject}`,\n    email_body: emailBody\n  }\n}];"
      },
      "id": "2a91ce8d-93a6-4ccb-a863-e53c9ac5ff0b",
      "name": "Prepare Confirmation Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        1984,
        864
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to_email }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.email_body }}",
        "options": {}
      },
      "id": "5478b87f-23b8-4454-a537-2129d2901567",
      "name": "Send Confirmation Email",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        2176,
        864
      ],
      "alwaysOutputData": true,
      "webhookId": "006a1ba1-c965-47b8-a7a2-da1c93eaea23",
      "credentials": {
        "gmailOAuth2": {
          "id": "JmCAMHnGiyL01kno",
          "name": "FGM at bippity boo"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "operation": "update",
        "tableId": "unified_events",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Get Unified Event').first().json.id }}"
            }
          ]
        },
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "processing_status",
              "fieldValue": "={{ $('Format Response').first().json.processing_status || 'completed' }}"
            }
          ]
        }
      },
      "id": "07f21ce6-a0ca-4ddb-8801-9bfe7efefdf5",
      "name": "Update Final Status",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        2384,
        864
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "LiyXJ3va3HnvvAkS",
          "name": "Supabase account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Return processing status for poller workflow\nconst items = $input.all();\nconst eventData = $('Get Unified Event').first().json;\nconst formatData = $('Format Response').first().json;\n\nreturn [{\n  json: {\n    unified_event_id: eventData.id,\n    processing_status: formatData?.processing_status || 'completed',\n    operation_results: formatData?.operation_results || [],\n    success: formatData?.processing_status === 'completed'\n  }\n}];"
      },
      "id": "25c4a6e0-6103-4b82-9fb4-884493921e80",
      "name": "Return Processing Status",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        2576,
        864
      ],
      "alwaysOutputData": true
    }
  ],
  "connections": {
    "Execute Workflow Trigger": {
      "main": [
        [
          {
            "node": "Flatten Input",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Flatten Input": {
      "main": [
        [
          {
            "node": "Input Valid?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Input Valid?": {
      "main": [
        [
          {
            "node": "Get Unified Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Return Processing Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get Unified Event": {
      "main": [
        [
          {
            "node": "Update Status to Processing",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Status to Processing": {
      "main": [
        [
          {
            "node": "Parse Command with AI",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Command with AI": {
      "main": [
        [
          {
            "node": "Parse AI Output JSON",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse AI Output JSON": {
      "main": [
        [
          {
            "node": "Parse Successful?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Parse Successful?": {
      "main": [
        [
          {
            "node": "Route by Command Type",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route by Command Type": {
      "main": [
        [
          {
            "node": "Family Facts Handler",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Family Facts Handler": {
      "main": [
        [
          {
            "node": "Route Facts Operation",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Route Facts Operation": {
      "main": [
        [
          {
            "node": "Create Family Fact",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Read Family Facts",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Family Fact": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Read Family Facts": {
      "main": [
        [
          {
            "node": "Format Response",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Format Response": {
      "main": [
        [
          {
            "node": "Prepare Confirmation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Confirmation Email": {
      "main": [
        [
          {
            "node": "Send Confirmation Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Send Confirmation Email": {
      "main": [
        [
          {
            "node": "Update Final Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Update Final Status": {
      "main": [
        [
          {
            "node": "Return Processing Status",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "8c50c34b-5399-4806-bec5-2beff8608a89",
  "activeVersionId": "a2c98bfa-1e85-44a6-8361-e2519f7fdb1b",
  "versionCounter": 7,
  "triggerCount": 0,
  "shared": [
    {
      "updatedAt": "2026-01-10T01:16:31.959Z",
      "createdAt": "2026-01-10T01:16:31.959Z",
      "role": "workflow:owner",
      "workflowId": "jk5gL6NtGAGZi9G5",
      "projectId": "kvPchBqTqBoD9S7f",
      "project": {
        "updatedAt": "2025-08-14T19:31:26.000Z",
        "createdAt": "2025-07-30T17:31:40.740Z",
        "id": "kvPchBqTqBoD9S7f",
        "name": "ChungFamilyParents inbound message parser",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": "Helps family make sure that they don't drop the ball on todos or events for the kids when sent in via some message.",
        "creatorId": null,
        "projectRelations": [
          {
            "updatedAt": "2025-08-14T19:31:26.958Z",
            "createdAt": "2025-08-14T19:31:26.958Z",
            "userId": "f11eb2cb-1df4-4679-ac05-38d806ba9f5a",
            "projectId": "kvPchBqTqBoD9S7f",
            "user": {
              "updatedAt": "2026-01-13T08:05:29.000Z",
              "createdAt": "2025-07-29T23:07:39.928Z",
              "id": "f11eb2cb-1df4-4679-ac05-38d806ba9f5a",
              "email": "hanschung@gmail.com",
              "firstName": "Hans",
              "lastName": "Chung",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": false,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-13",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-01-10T01:18:32.000Z",
    "createdAt": "2026-01-10T01:18:28.656Z",
    "versionId": "a2c98bfa-1e85-44a6-8361-e2519f7fdb1b",
    "workflowId": "jk5gL6NtGAGZi9G5",
    "nodes": [
      {
        "parameters": {
          "inputSource": "passthrough"
        },
        "id": "3f04abc1-5408-4d8b-9286-cbe9432bf2dd",
        "name": "Execute Workflow Trigger",
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          -2208,
          400
        ]
      },
      {
        "parameters": {
          "jsCode": "// Flatten input and ensure we have unified_event_id\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const json = item.json || {};\n  \n  // Get unified_event_id from input (could be direct or nested)\n  const unifiedEventId = json.unified_event_id || json.id || json.body?.unified_event_id;\n  \n  if (!unifiedEventId) {\n    // If no ID, try to find it in all input items\n    for (const inputItem of items) {\n      if (inputItem.json?.unified_event_id) {\n        results.push({\n          json: {\n            unified_event_id: inputItem.json.unified_event_id,\n            user_id: inputItem.json.user_id || json.user_id,\n            email_content: inputItem.json.email_content || json.email_content || json.content,\n            subject: inputItem.json.subject || json.subject,\n            sender_email: inputItem.json.sender_email || json.sender_email\n          }\n        });\n        break;\n      }\n    }\n    if (results.length === 0) {\n      results.push({\n        json: {\n          error: 'No unified_event_id provided',\n          ...json\n        }\n      });\n    }\n  } else {\n    results.push({\n      json: {\n        unified_event_id: unifiedEventId,\n        user_id: json.user_id || json.body?.user_id,\n        email_content: json.email_content || json.content || json.body?.email_content,\n        subject: json.subject || json.body?.subject,\n        sender_email: json.sender_email || json.body?.sender_email\n      }\n    });\n  }\n}\n\nreturn results.length > 0 ? results : [{ json: { error: 'No input data' } }];"
        },
        "id": "ddc7a2a3-f5fe-4d2c-96ef-4ed09e66a61a",
        "name": "Flatten Input",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -2000,
          400
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 3,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "check-has-error",
                "leftValue": "={{ $json.error }}",
                "rightValue": "",
                "operator": {
                  "type": "string",
                  "operation": "exists"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "118236b9-7a84-48bd-8cb7-ba1b8fec6848",
        "name": "Input Valid?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -1808,
          400
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "unified_events",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $json.unified_event_id }}"
              }
            ]
          }
        },
        "id": "b0a5e969-fbf1-47b9-82e9-55a691709c97",
        "name": "Get Unified Event",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -1600,
          400
        ],
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "LiyXJ3va3HnvvAkS",
            "name": "Supabase account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "unified_events",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $json.id }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "processing_status",
                "fieldValue": "processing"
              }
            ]
          }
        },
        "id": "dc17d4cb-28fb-487a-a703-0584bc1d4505",
        "name": "Update Status to Processing",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          -1408,
          400
        ],
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "LiyXJ3va3HnvvAkS",
            "name": "Supabase account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "promptType": "define",
          "text": "=You are a command parser for Bippity.boo, a family communication assistant.\n\nUsers send emails to fgm@gmail.com with commands to:\n1. Manage family facts (create, update, delete, list/search)\n2. Manage calendar events (create, update, search, get by date)\n3. Manage tasks (create, update, complete, delete, search)\n\nParse this email and extract commands. Be flexible with natural language.\n\nEmail from: {{ $json.sender_email }}\nSubject: {{ $json.subject }}\nBody:\n{{ $json.content }}\n\nOutput ONLY valid JSON in this exact format (no markdown, no code blocks, just the JSON object):\n{\n  \"command_type\": \"family_facts\" | \"calendar\" | \"tasks\" | \"mixed\",\n  \"operations\": [\n    {\n      \"operation\": \"create\" | \"read\" | \"update\" | \"delete\" | \"search\",\n      \"entity\": \"family_fact\" | \"calendar_event\" | \"task\",\n      \"parameters\": {},\n      \"confidence\": 0.95,\n      \"original_text\": \"excerpt from email\"\n    }\n  ],\n  \"requires_confirmation\": false\n}\n\nIf unclear, set confidence low (<0.7) and return empty operations array.",
          "options": {
            "systemMessage": "You are a precise command parser. Output ONLY valid JSON. No explanations. No markdown code blocks. Just the JSON object. If you cannot parse a command, return {\"command_type\": \"unknown\", \"operations\": [], \"requires_confirmation\": false}."
          }
        },
        "id": "2184751a-7b19-4690-92cd-74aaceb2caa5",
        "name": "Parse Command with AI",
        "type": "@n8n/n8n-nodes-langchain.agent",
        "typeVersion": 3,
        "position": [
          -1200,
          400
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "model": {
            "__rl": true,
            "mode": "list",
            "value": "gpt-4o"
          },
          "builtInTools": {},
          "options": {
            "maxTokens": 2000,
            "temperature": 0.3
          }
        },
        "id": "c0ebe230-054d-4079-98cd-470d8c3a9690",
        "name": "GPT-4o Model",
        "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
        "typeVersion": 1.3,
        "position": [
          -1296,
          656
        ],
        "credentials": {
          "openAiApi": {
            "id": "D1MyVMAJ9zLNahg3",
            "name": "OpenAi account"
          }
        }
      },
      {
        "parameters": {
          "jsCode": "// Parse AI output as JSON\nconst items = $input.all();\nconst eventData = $('Get Unified Event').first().json;\nconst results = [];\n\nfor (const item of items) {\n  try {\n    let parsed = {};\n    const output = item.json?.output || item.json?.text || item.json?.response || '';\n    \n    // Try to extract JSON from AI output (may be wrapped in markdown code blocks)\n    let jsonStr = String(output).trim();\n    \n    // Remove markdown code blocks if present\n    if (jsonStr.includes('```')) {\n      const match = jsonStr.match(/```(?:json)?\\n([\\s\\S]*?)\\n```/);\n      if (match && match[1]) {\n        jsonStr = match[1].trim();\n      } else {\n        // Try without language tag\n        const match2 = jsonStr.match(/```\\n([\\s\\S]*?)\\n```/);\n        if (match2 && match2[1]) {\n          jsonStr = match2[1].trim();\n        }\n      }\n    }\n    \n    // Remove leading/trailing whitespace and try to parse\n    jsonStr = jsonStr.trim();\n    \n    // Ensure it starts with { or [\n    if (!jsonStr.startsWith('{') && !jsonStr.startsWith('[')) {\n      // Try to find JSON in the string\n      const jsonMatch = jsonStr.match(/({[\\s\\S]*})/);\n      if (jsonMatch) {\n        jsonStr = jsonMatch[1];\n      }\n    }\n    \n    parsed = JSON.parse(jsonStr);\n    \n    // Merge with original event data\n    results.push({\n      json: {\n        ...eventData,\n        parsed_commands: parsed,\n        command_type: parsed.command_type || 'unknown',\n        operations: parsed.operations || [],\n        requires_confirmation: parsed.requires_confirmation || false\n      }\n    });\n  } catch (e) {\n    // If parsing fails, treat as error\n    results.push({\n      json: {\n        ...eventData,\n        parsed_commands: { error: String(e), raw_output: item.json?.output || item.json?.text || '' },\n        command_type: 'error',\n        operations: [],\n        parse_error: true\n      }\n    });\n  }\n}\n\nreturn results.length > 0 ? results : [{ json: { ...eventData, error: 'No AI output' } }];"
        },
        "id": "de3d6e63-be5d-456f-b8fe-c91442a00bb3",
        "name": "Parse AI Output JSON",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -832,
          192
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 3,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "check-parse-error",
                "leftValue": "={{ $json.parse_error }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "ff19b6ea-2136-4c75-8d95-6f2a2169e7e9",
        "name": "Parse Successful?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          -784,
          608
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "version": 3,
                    "leftValue": "",
                    "caseSensitive": false,
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "check-family-facts",
                      "leftValue": "={{ $json.command_type }}",
                      "rightValue": "family_facts",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "family_facts"
              },
              {
                "conditions": {
                  "options": {
                    "version": 3,
                    "leftValue": "",
                    "caseSensitive": false,
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "check-calendar",
                      "leftValue": "={{ $json.command_type }}",
                      "rightValue": "calendar",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "calendar"
              },
              {
                "conditions": {
                  "options": {
                    "version": 3,
                    "leftValue": "",
                    "caseSensitive": false,
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "check-tasks",
                      "leftValue": "={{ $json.command_type }}",
                      "rightValue": "tasks",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "tasks"
              },
              {
                "conditions": {
                  "options": {
                    "version": 3,
                    "leftValue": "",
                    "caseSensitive": false,
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "check-mixed",
                      "leftValue": "={{ $json.command_type }}",
                      "rightValue": "mixed",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "mixed"
              }
            ]
          },
          "options": {
            "fallbackOutput": "output_0"
          }
        },
        "id": "4a80cf93-3fe0-4c85-be61-1bc96f8ff132",
        "name": "Route by Command Type",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -608,
          400
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "jsCode": "// Handle family facts operations\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const operations = item.json.operations || [];\n  const userId = item.json.user_id;\n  \n  // Process each operation\n  for (const op of operations) {\n    if (op.entity === 'family_fact') {\n      results.push({\n        json: {\n          ...item.json,\n          operation_type: op.operation,\n          operation_params: op.parameters || {},\n          operation_entity: op.entity,\n          operation_confidence: op.confidence || 0,\n          original_text: op.original_text || ''\n        }\n      });\n    }\n  }\n}\n\nreturn results.length > 0 ? results : [{ json: { ...items[0]?.json, error: 'No family_fact operations found' } }];"
        },
        "id": "06d66dc9-0698-4481-b8ee-43d35bb85b93",
        "name": "Family Facts Handler",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          -400,
          208
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "rules": {
            "values": [
              {
                "conditions": {
                  "options": {
                    "version": 3,
                    "leftValue": "",
                    "caseSensitive": false,
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "check-create",
                      "leftValue": "={{ $json.operation_type }}",
                      "rightValue": "create",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "create"
              },
              {
                "conditions": {
                  "options": {
                    "version": 3,
                    "leftValue": "",
                    "caseSensitive": false,
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "check-read",
                      "leftValue": "={{ $json.operation_type }}",
                      "rightValue": "read",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "read"
              },
              {
                "conditions": {
                  "options": {
                    "version": 3,
                    "leftValue": "",
                    "caseSensitive": false,
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "check-update",
                      "leftValue": "={{ $json.operation_type }}",
                      "rightValue": "update",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "update"
              },
              {
                "conditions": {
                  "options": {
                    "version": 3,
                    "leftValue": "",
                    "caseSensitive": false,
                    "typeValidation": "strict"
                  },
                  "conditions": [
                    {
                      "id": "check-delete",
                      "leftValue": "={{ $json.operation_type }}",
                      "rightValue": "delete",
                      "operator": {
                        "type": "string",
                        "operation": "equals"
                      }
                    }
                  ],
                  "combinator": "and"
                },
                "renameOutput": true,
                "outputKey": "delete"
              }
            ]
          },
          "options": {
            "fallbackOutput": "output_0"
          }
        },
        "id": "229777fc-f33f-4de6-9d64-dc995e857923",
        "name": "Route Facts Operation",
        "type": "n8n-nodes-base.switch",
        "typeVersion": 3.4,
        "position": [
          -256,
          -48
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "tableId": "family_facts",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "user_id",
                "fieldValue": "={{ $json.user_id }}"
              },
              {
                "fieldId": "fact_text",
                "fieldValue": "={{ $json.operation_params.fact_text || $json.operation_params.text || $json.original_text }}"
              },
              {
                "fieldId": "fact_type",
                "fieldValue": "={{ $json.operation_params.fact_type || 'general' }}"
              },
              {
                "fieldId": "source",
                "fieldValue": "email_command"
              }
            ]
          }
        },
        "id": "78d42f67-5bc6-4585-b250-cef14616ee46",
        "name": "Create Family Fact",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          0,
          0
        ],
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "LiyXJ3va3HnvvAkS",
            "name": "Supabase account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "family_facts",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "user_id",
                "condition": "eq",
                "keyValue": "={{ $json.user_id }}"
              }
            ]
          }
        },
        "id": "dea20d06-74f0-4ab3-a82f-be6d90d2585f",
        "name": "Read Family Facts",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          0,
          208
        ],
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "LiyXJ3va3HnvvAkS",
            "name": "Supabase account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "// Format response for confirmation email\nconst items = $input.all();\nconst eventData = $('Get Unified Event').first().json;\nconst results = [];\n\n// Collect all operation results\nconst operationResults = [];\n\nfor (const item of items) {\n  if (item.json && !item.json.error) {\n    operationResults.push({\n      success: true,\n      operation: item.json.operation_type || 'unknown',\n      entity: item.json.operation_entity || 'unknown',\n      result: item.json.id ? `Created/Updated ID: ${item.json.id}` : 'Completed',\n      data: item.json\n    });\n  } else {\n    operationResults.push({\n      success: false,\n      operation: item.json?.operation_type || 'unknown',\n      error: item.json?.error || 'Unknown error'\n    });\n  }\n}\n\nresults.push({\n  json: {\n    ...eventData,\n    operation_results: operationResults,\n    processing_status: operationResults.every(r => r.success) ? 'completed' : 'error'\n  }\n});\n\nreturn results;"
        },
        "id": "8645677e-1dd5-4005-8c10-5545b72682bd",
        "name": "Format Response",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          208,
          208
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "url": "https://bippity.boo/api/auth/tokens",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "userId",
                "value": "={{ $vars.FGM_USER_ID }}"
              },
              {
                "name": "provider",
                "value": "google"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $vars.N8N_API_KEY }}"
              }
            ]
          },
          "options": {}
        },
        "id": "482ef8e0-a5a7-457c-a773-0297ee5fc35b",
        "name": "Get Gmail Token for Reply",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          400,
          208
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "jsCode": "// Create confirmation email body and raw email format\nconst items = $input.all();\nconst eventData = $('Get Unified Event').first().json;\nconst emailContent = eventData.content || '';\nconst subject = eventData.subject || 'Your email to Bippity.boo';\nconst senderEmail = eventData.sender_email || '';\n\n// Build email body with operation results\nlet emailBody = `Hi,\n\nI've processed your email. Here's what I did:\n\n`;\n\nconst operations = items[0]?.json?.operation_results || [];\n\nif (operations.length === 0) {\n  emailBody += `\u274c I couldn't understand your command. Please try again with clearer instructions.\n\nExamples:\n- \"Add fact: Cora goes to Lincoln Elementary\"\n- \"Show my calendar for next week\"\n- \"Create task: Buy soccer cleats due Friday\"\n`;\n} else {\n  for (const op of operations) {\n    if (op.success) {\n      emailBody += `\u2705 ${op.operation} ${op.entity}: ${op.result || 'Completed'}\\n`;\n    } else {\n      emailBody += `\u274c Failed to ${op.operation} ${op.entity}: ${op.error || 'Unknown error'}\\n`;\n    }\n  }\n}\n\nemailBody += `\\nView your dashboard: https://bippity.boo/dashboard\\n\\n- Your Fairy God Mother \ud83e\udd16\\n\\n---\\nOriginal message:\\n${subject}\\n${emailContent.substring(0, 500)}`;\n\n// Create raw email format (RFC 2822)\nconst rawEmailText = `To: ${senderEmail}\nFrom: fgm@gmail.com\nSubject: Re: ${subject}\nIn-Reply-To: <${eventData.source_item_id || ''}@gmail.com>\nReferences: <${eventData.source_item_id || ''}@gmail.com>\nContent-Type: text/plain; charset=utf-8\n\n${emailBody}`;\n\nconst rawEmail = Buffer.from(rawEmailText).toString('base64url');\n\nreturn [{\n  json: {\n    raw_email: rawEmail,\n    to_email: senderEmail,\n    subject: `Re: ${subject}`,\n    body: emailBody\n  }\n}];"
        },
        "id": "9f19307f-991d-4a42-82a4-703c8dac58a8",
        "name": "Prepare Confirmation Email",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          608,
          208
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "https://gmail.googleapis.com/gmail/v1/users/me/messages/send",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('Get Gmail Token for Reply').first().json.access_token }}"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "raw",
                "value": "={{ $json.raw_email }}"
              }
            ]
          },
          "options": {}
        },
        "id": "354a53fa-624f-4c49-8b21-8641ac23fe41",
        "name": "Send Confirmation Email",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          800,
          208
        ],
        "alwaysOutputData": true,
        "continueOnFail": true
      },
      {
        "parameters": {
          "operation": "update",
          "tableId": "unified_events",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "id",
                "condition": "eq",
                "keyValue": "={{ $('Get Unified Event').first().json.id }}"
              }
            ]
          },
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "processing_status",
                "fieldValue": "={{ $('Format Response').first().json.processing_status || 'completed' }}"
              }
            ]
          }
        },
        "id": "9fed9f93-a8ca-499e-b565-42a29103ece5",
        "name": "Update Final Status",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1008,
          208
        ],
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "LiyXJ3va3HnvvAkS",
            "name": "Supabase account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "// Return processing status for poller workflow\nconst items = $input.all();\nconst eventData = $('Get Unified Event').first().json;\nconst formatData = $('Format Response').first().json;\n\nreturn [{\n  json: {\n    unified_event_id: eventData.id,\n    processing_status: formatData?.processing_status || 'completed',\n    operation_results: formatData?.operation_results || [],\n    success: formatData?.processing_status === 'completed'\n  }\n}];"
        },
        "id": "dfdb83e5-0681-4e72-884b-42765ffc17da",
        "name": "Return Processing Status",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1200,
          208
        ],
        "alwaysOutputData": true
      }
    ],
    "connections": {
      "Execute Workflow Trigger": {
        "main": [
          [
            {
              "node": "Flatten Input",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Flatten Input": {
        "main": [
          [
            {
              "node": "Input Valid?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Input Valid?": {
        "main": [
          [
            {
              "node": "Get Unified Event",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Return Processing Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Unified Event": {
        "main": [
          [
            {
              "node": "Update Status to Processing",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Status to Processing": {
        "main": [
          [
            {
              "node": "Parse Command with AI",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Command with AI": {
        "main": [
          [
            {
              "node": "Parse AI Output JSON",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse AI Output JSON": {
        "main": [
          [
            {
              "node": "Parse Successful?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Parse Successful?": {
        "main": [
          [
            {
              "node": "Route by Command Type",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Format Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route by Command Type": {
        "main": [
          [
            {
              "node": "Family Facts Handler",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Format Response",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Format Response",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Format Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Family Facts Handler": {
        "main": [
          [
            {
              "node": "Route Facts Operation",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Route Facts Operation": {
        "main": [
          [
            {
              "node": "Create Family Fact",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Read Family Facts",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Format Response",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Format Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Family Fact": {
        "main": [
          [
            {
              "node": "Format Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Read Family Facts": {
        "main": [
          [
            {
              "node": "Format Response",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Format Response": {
        "main": [
          [
            {
              "node": "Get Gmail Token for Reply",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Gmail Token for Reply": {
        "main": [
          [
            {
              "node": "Prepare Confirmation Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Confirmation Email": {
        "main": [
          [
            {
              "node": "Send Confirmation Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Send Confirmation Email": {
        "main": [
          [
            {
              "node": "Update Final Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Final Status": {
        "main": [
          [
            {
              "node": "Return Processing Status",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "GPT-4o Model": {
        "ai_languageModel": [
          [
            {
              "node": "Parse Command with AI",
              "type": "ai_languageModel",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Hans Chung",
    "name": "Version a2c98bfa",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-01-10T01:18:32.041Z",
        "id": 288,
        "workflowId": "jk5gL6NtGAGZi9G5",
        "versionId": "a2c98bfa-1e85-44a6-8361-e2519f7fdb1b",
        "event": "activated",
        "userId": "f11eb2cb-1df4-4679-ac05-38d806ba9f5a"
      }
    ]
  }
}