workflows/backups/Bippity-Gmail-Command-Poller-MultiTenant_backup_20260113_103854.json
{
  "updatedAt": "2026-01-10T07:42:44.580Z",
  "createdAt": "2026-01-10T01:18:45.403Z",
  "id": "GY0jcwcSgVgAfHiI",
  "name": "Bippity - Gmail Command Poller MultiTenant",
  "description": null,
  "active": true,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "rule": {
          "interval": [
            {
              "field": "minutes",
              "minutesInterval": 10
            }
          ]
        }
      },
      "id": "257016e8-74ff-4c59-a410-0b6e55e04b86",
      "name": "Schedule Trigger",
      "type": "n8n-nodes-base.scheduleTrigger",
      "typeVersion": 1.3,
      "position": [
        14128,
        3264
      ]
    },
    {
      "parameters": {
        "operation": "getAll",
        "simple": false,
        "filters": {},
        "options": {}
      },
      "id": "7e11efeb-a031-4758-b9ea-60374599a1e6",
      "name": "Search Gmail for Commands",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        14528,
        3264
      ],
      "alwaysOutputData": true,
      "webhookId": "01612c21-112a-4ab9-912e-17d419fb5bc2",
      "credentials": {
        "gmailOAuth2": {
          "id": "JmCAMHnGiyL01kno",
          "name": "FGM at bippity boo"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Extract email content and headers\nfunction decodeBase64Url(data) {\n  if (!data) return '';\n  try {\n    return Buffer.from(data, 'base64url').toString('utf-8');\n  } catch (e) {\n    return '';\n  }\n}\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const message = item.json;\n  const payload = message.payload || {};\n  \n  // Extract headers\n  const headers = payload.headers || [];\n  let fromEmail = '';\n  let subject = '';\n  let toEmail = '';\n  let messageId = '';\n  \n  for (const h of headers) {\n    if (!h || !h.name || !h.value) continue;\n    const name = String(h.name).toLowerCase();\n    const value = String(h.value).trim();\n    \n    if (name === 'from') {\n      // Extract email from \"Name <email@domain.com>\" or just \"email@domain.com\"\n      const emailMatch = value.match(/<([^>]+)>/) || value.match(/([a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,})/);\n      if (emailMatch) fromEmail = emailMatch[1] || emailMatch[0];\n    } else if (name === 'to') {\n      toEmail = value;\n    } else if (name === 'subject') {\n      subject = value;\n    } else if (name === 'message-id') {\n      messageId = value;\n    }\n  }\n  \n  // Extract body text\n  let bodyText = '';\n  if (payload.parts && Array.isArray(payload.parts)) {\n    for (const part of payload.parts) {\n      if (part.mimeType === 'text/plain' && part.body && part.body.data) {\n        bodyText += decodeBase64Url(part.body.data);\n      } else if (part.mimeType === 'text/html' && part.body && part.body.data && !bodyText) {\n        // Fallback to HTML if no plain text\n        bodyText += decodeBase64Url(part.body.data);\n      }\n    }\n  } else if (payload.body && payload.body.data) {\n    bodyText = decodeBase64Url(payload.body.data);\n  }\n  \n  results.push({\n    json: {\n      gmail_message_id: message.id,\n      thread_id: message.threadId || '',\n      from_email: fromEmail,\n      to_email: toEmail,\n      subject: subject || '',\n      content: bodyText.trim(),\n      raw_message: message\n    }\n  });\n}\n\nreturn results.length > 0 ? results : [{ json: { error: 'No email data extracted' } }];"
      },
      "id": "50911660-7f2a-43d0-b349-5dd44b51ac93",
      "name": "Extract Email Content",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15136,
        3264
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "users",
        "matchType": "allFilters",
        "filters": {
          "conditions": [
            {
              "keyName": "email",
              "condition": "ilike",
              "keyValue": "={{ $json.from_email }}"
            }
          ]
        }
      },
      "id": "4c3b0456-867c-478e-b3cf-6ad1531eb79a",
      "name": "Match User by Email",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        15328,
        3264
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "LiyXJ3va3HnvvAkS",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-user-found",
              "leftValue": "={{ $json.itemCount }}",
              "rightValue": 0,
              "operator": {
                "type": "number",
                "operation": "larger"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "15e2292f-7a87-4528-bd9a-35616834fd1f",
      "name": "User Found?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        15536,
        3264
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Get user_id from matched user\nconst items = $input.all();\nconst emailData = $('Extract Email Content').first().json;\n\n// Get user from Match User node\nlet userId = null;\nlet userEmail = null;\n\ntry {\n  const userData = $('Match User by Email').first().json;\n  if (userData && userData.id) {\n    userId = userData.id;\n    userEmail = userData.email || emailData.from_email;\n  }\n} catch (e) {\n  // User not found\n}\n\nif (!userId) {\n  return [{ json: { error: 'User not found', from_email: emailData.from_email } }];\n}\n\nreturn [{\n  json: {\n    ...emailData,\n    user_id: userId,\n    user_email: userEmail\n  }\n}];"
      },
      "id": "8f6b2550-a6ca-4c12-b83a-173fd4ddb41a",
      "name": "Prepare Unified Event",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15728,
        3264
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "tableId": "unified_events",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.user_id }}"
            },
            {
              "fieldId": "source_type",
              "fieldValue": "email_command"
            },
            {
              "fieldId": "source_item_id",
              "fieldValue": "={{ $json.gmail_message_id }}"
            },
            {
              "fieldId": "content",
              "fieldValue": "={{ $json.content }}"
            },
            {
              "fieldId": "subject",
              "fieldValue": "={{ $json.subject }}"
            },
            {
              "fieldId": "sender_email",
              "fieldValue": "={{ $json.from_email }}"
            },
            {
              "fieldId": "processing_status",
              "fieldValue": "pending"
            },
            {
              "fieldId": "raw_data",
              "fieldValue": "={{ JSON.stringify($json.raw_message) }}"
            }
          ]
        }
      },
      "id": "f51eb498-d489-4822-a10f-bffa099996df",
      "name": "Create Unified Event",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        15936,
        3264
      ],
      "alwaysOutputData": true,
      "credentials": {
        "supabaseApi": {
          "id": "LiyXJ3va3HnvvAkS",
          "name": "Supabase account"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "workflowId": "4rleLK1hglMsB9GT",
        "workflowInputs": {
          "mappingMode": "defineBelow",
          "value": {
            "unified_event_id": "={{ $json.id }}",
            "user_id": "={{ $json.user_id }}",
            "email_content": "={{ $json.content }}",
            "subject": "={{ $json.subject }}",
            "sender_email": "={{ $json.sender_email }}"
          },
          "matchingColumns": {},
          "schema": []
        },
        "options": {
          "waitForSubWorkflow": true
        }
      },
      "id": "06cf782f-d0a4-45ec-b084-6e502893418d",
      "name": "Execute Command Processor",
      "type": "n8n-nodes-base.executeWorkflow",
      "typeVersion": 1.3,
      "position": [
        16128,
        3264
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "jsCode": "// Check if processing was successful and mark email as processed\nconst items = $input.all();\nconst emailData = $('Extract Email Content').first().json;\nconst unifiedEventData = $('Create Unified Event').first().json;\n\ntry {\n  // Get result from command processor\n  const processorResult = items[0]?.json || {};\n  const processingStatus = processorResult.processing_status || unifiedEventData.processing_status || 'error';\n  \n  return [{\n    json: {\n      gmail_message_id: emailData.gmail_message_id,\n      thread_id: emailData.thread_id,\n      processing_status: processingStatus,\n      unified_event_id: unifiedEventData.id,\n      should_archive: processingStatus === 'completed',\n      should_label_error: processingStatus === 'error'\n    }\n  }];\n} catch (e) {\n  return [{\n    json: {\n      gmail_message_id: emailData.gmail_message_id,\n      processing_status: 'error',\n      error: String(e),\n      should_archive: false,\n      should_label_error: true\n    }\n  }];\n}"
      },
      "id": "c943dca3-8417-4a0c-846d-27fef46b8eee",
      "name": "Check Processing Result",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        16336,
        3264
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 3,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "conditions": [
            {
              "id": "check-should-archive",
              "leftValue": "={{ $json.should_archive }}",
              "rightValue": true,
              "operator": {
                "type": "boolean",
                "operation": "true"
              }
            }
          ],
          "combinator": "and"
        },
        "options": {}
      },
      "id": "bd6cb189-d850-47d3-a596-ce6bae08b2e2",
      "name": "Should Archive Email?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        16528,
        3264
      ],
      "alwaysOutputData": true
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://gmail.googleapis.com/gmail/v1/users/me/messages/' + $json.gmail_message_id + '/modify' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gmailOAuth2",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"addLabelIds\": [\"bippity-processed\"],\n  \"removeLabelIds\": [\"UNREAD\", \"INBOX\"]\n}",
        "options": {}
      },
      "id": "b85339b6-6796-4a04-a0d7-77ea5623ca1a",
      "name": "Archive and Label Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        16736,
        3264
      ],
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "JmCAMHnGiyL01kno",
          "name": "FGM at bippity boo"
        }
      }
    },
    {
      "parameters": {
        "method": "POST",
        "url": "={{ 'https://gmail.googleapis.com/gmail/v1/users/me/messages/' + $json.gmail_message_id + '/modify' }}",
        "authentication": "predefinedCredentialType",
        "nodeCredentialType": "gmailOAuth2",
        "sendBody": true,
        "specifyBody": "json",
        "jsonBody": "={\n  \"addLabelIds\": [\"bippity-error\"]\n}",
        "options": {}
      },
      "id": "77df4972-9611-466e-b82d-1baea7e84f35",
      "name": "Label Error Email",
      "type": "n8n-nodes-base.httpRequest",
      "typeVersion": 4.3,
      "position": [
        16736,
        3472
      ],
      "alwaysOutputData": true,
      "credentials": {
        "gmailOAuth2": {
          "id": "JmCAMHnGiyL01kno",
          "name": "FGM at bippity boo"
        }
      }
    },
    {
      "parameters": {
        "sendTo": "={{ $json.to_email }}",
        "subject": "={{ $json.subject }}",
        "message": "={{ $json.email_body }}",
        "options": {}
      },
      "id": "50f3ac0e-8cee-4e5b-ab72-040d2f32581b",
      "name": "Send Error Email to Unmatched User",
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        15728,
        3664
      ],
      "alwaysOutputData": true,
      "webhookId": "5e379add-950e-4c24-954d-a1c8d0687f5d",
      "credentials": {
        "gmailOAuth2": {
          "id": "JmCAMHnGiyL01kno",
          "name": "FGM at bippity boo"
        }
      },
      "continueOnFail": true
    },
    {
      "parameters": {
        "jsCode": "// Prepare error email for Gmail send node\nconst items = $input.all();\nconst emailData = $('Extract Email Content').first().json;\n\nconst toEmail = emailData.from_email;\nconst subject = 'Re: ' + (emailData.subject || 'Your email to Bippity.boo');\nconst body = `Hi,<br><br>I received your email but couldn't find an account associated with <strong>${toEmail}</strong>.<br><br>To use Bippity.boo, please:<br>1. Visit <a href=\"https://bippity.boo\">https://bippity.boo</a><br>2. Sign up with Google using your email: ${toEmail}<br>3. Complete the onboarding process<br><br>Once you're set up, you can email me at fgm@gmail.com with commands like:<br>- \"Add fact: [your fact text]\"<br>- \"Show my calendar for [date]\"<br>- \"Create task: [task title] due [date]\"<br><br>- Your Fairy God Mother \ud83e\udd16<br><br><hr><br><strong>Original message:</strong><br>Subject: ${emailData.subject || '(no subject)'}<br>${emailData.content.substring(0, 500).replace(/\\n/g, '<br>')}`;\n\nreturn [{\n  json: {\n    to_email: toEmail,\n    subject: subject,\n    email_body: body\n  }\n}];"
      },
      "id": "6cec5640-f067-4e5b-ad82-e0319f5e4d0e",
      "name": "Prepare Error Email",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        15536,
        3664
      ],
      "alwaysOutputData": true
    }
  ],
  "connections": {
    "Schedule Trigger": {
      "main": [
        [
          {
            "node": "Search Gmail for Commands",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Search Gmail for Commands": {
      "main": [
        [
          {
            "node": "Extract Email Content",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Extract Email Content": {
      "main": [
        [
          {
            "node": "Match User by Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Match User by Email": {
      "main": [
        [
          {
            "node": "User Found?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "User Found?": {
      "main": [
        [
          {
            "node": "Prepare Unified Event",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Unified Event": {
      "main": [
        [
          {
            "node": "Create Unified Event",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Create Unified Event": {
      "main": [
        [
          {
            "node": "Execute Command Processor",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Execute Command Processor": {
      "main": [
        [
          {
            "node": "Check Processing Result",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Check Processing Result": {
      "main": [
        [
          {
            "node": "Should Archive Email?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Should Archive Email?": {
      "main": [
        [
          {
            "node": "Archive and Label Email",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Label Error Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Error Email": {
      "main": [
        [
          {
            "node": "Send Error Email to Unmatched User",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "availableInMCP": false
  },
  "staticData": {
    "node:Schedule Trigger": {
      "recurrenceRules": []
    }
  },
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "a1a66747-b4c2-4512-91b2-8ac05899f1c2",
  "activeVersionId": "f5fc0092-4b66-4780-a06b-b59684e286c3",
  "versionCounter": 13,
  "triggerCount": 1,
  "shared": [
    {
      "updatedAt": "2026-01-10T01:18:45.407Z",
      "createdAt": "2026-01-10T01:18:45.407Z",
      "role": "workflow:owner",
      "workflowId": "GY0jcwcSgVgAfHiI",
      "projectId": "kvPchBqTqBoD9S7f",
      "project": {
        "updatedAt": "2025-08-14T19:31:26.000Z",
        "createdAt": "2025-07-30T17:31:40.740Z",
        "id": "kvPchBqTqBoD9S7f",
        "name": "ChungFamilyParents inbound message parser",
        "type": "team",
        "icon": {
          "type": "icon",
          "value": "layers"
        },
        "description": "Helps family make sure that they don't drop the ball on todos or events for the kids when sent in via some message.",
        "creatorId": null,
        "projectRelations": [
          {
            "updatedAt": "2025-08-14T19:31:26.958Z",
            "createdAt": "2025-08-14T19:31:26.958Z",
            "userId": "f11eb2cb-1df4-4679-ac05-38d806ba9f5a",
            "projectId": "kvPchBqTqBoD9S7f",
            "user": {
              "updatedAt": "2026-01-13T08:05:29.000Z",
              "createdAt": "2025-07-29T23:07:39.928Z",
              "id": "f11eb2cb-1df4-4679-ac05-38d806ba9f5a",
              "email": "hanschung@gmail.com",
              "firstName": "Hans",
              "lastName": "Chung",
              "personalizationAnswers": null,
              "settings": {
                "userActivated": false,
                "easyAIWorkflowOnboarded": true
              },
              "disabled": false,
              "mfaEnabled": false,
              "lastActiveAt": "2026-01-13",
              "isPending": false
            }
          }
        ]
      }
    }
  ],
  "tags": [],
  "activeVersion": {
    "updatedAt": "2026-01-10T01:22:20.000Z",
    "createdAt": "2026-01-10T01:22:18.283Z",
    "versionId": "f5fc0092-4b66-4780-a06b-b59684e286c3",
    "workflowId": "GY0jcwcSgVgAfHiI",
    "nodes": [
      {
        "parameters": {
          "rule": {
            "interval": [
              {
                "field": "minutes",
                "minutesInterval": 10
              }
            ]
          }
        },
        "id": "48400ab1-e778-46df-8a19-4592d6727584",
        "name": "Schedule Trigger",
        "type": "n8n-nodes-base.scheduleTrigger",
        "typeVersion": 1.3,
        "position": [
          0,
          0
        ]
      },
      {
        "parameters": {
          "url": "https://bippity.boo/api/auth/tokens",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "userId",
                "value": "={{ $vars.FGM_USER_ID }}"
              },
              {
                "name": "provider",
                "value": "google"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $vars.N8N_API_KEY }}"
              }
            ]
          },
          "options": {}
        },
        "id": "2e67676e-18b1-4879-af54-90d7add14661",
        "name": "Get Gmail Token for fgm@gmail.com",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          208,
          0
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "url": "https://gmail.googleapis.com/gmail/v1/users/me/messages",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "q",
                "value": "to:fgm@gmail.com -label:bippity-processed is:unread"
              },
              {
                "name": "maxResults",
                "value": "50"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $json.access_token }}"
              }
            ]
          },
          "options": {}
        },
        "id": "f5620040-9251-4624-b56b-515f65d39d22",
        "name": "Search Gmail for Commands",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          400,
          0
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "fieldToSplitOut": "messages",
          "options": {}
        },
        "id": "60537137-10c8-4758-be86-486bcd9bd748",
        "name": "Split Messages",
        "type": "n8n-nodes-base.splitOut",
        "typeVersion": 1,
        "position": [
          608,
          0
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "url": "={{ 'https://gmail.googleapis.com/gmail/v1/users/me/messages/' + $json.id }}",
          "sendQuery": true,
          "queryParameters": {
            "parameters": [
              {
                "name": "format",
                "value": "full"
              }
            ]
          },
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('Get Gmail Token for fgm@gmail.com').first().json.access_token }}"
              }
            ]
          },
          "options": {}
        },
        "id": "622f835a-9d6a-4858-9e14-41d59459416c",
        "name": "Get Email Details",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          800,
          0
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "jsCode": "// Extract email content and headers\nfunction decodeBase64Url(data) {\n  if (!data) return '';\n  try {\n    return Buffer.from(data, 'base64url').toString('utf-8');\n  } catch (e) {\n    return '';\n  }\n}\n\nconst items = $input.all();\nconst results = [];\n\nfor (const item of items) {\n  const message = item.json;\n  const payload = message.payload || {};\n  \n  // Extract headers\n  const headers = payload.headers || [];\n  let fromEmail = '';\n  let subject = '';\n  let toEmail = '';\n  let messageId = '';\n  \n  for (const h of headers) {\n    if (!h || !h.name || !h.value) continue;\n    const name = String(h.name).toLowerCase();\n    const value = String(h.value).trim();\n    \n    if (name === 'from') {\n      // Extract email from \"Name <email@domain.com>\" or just \"email@domain.com\"\n      const emailMatch = value.match(/<([^>]+)>/) || value.match(/([a-zA-Z0-9._%+-]+@[a-zA-Z0-9.-]+\\.[a-zA-Z]{2,})/);\n      if (emailMatch) fromEmail = emailMatch[1] || emailMatch[0];\n    } else if (name === 'to') {\n      toEmail = value;\n    } else if (name === 'subject') {\n      subject = value;\n    } else if (name === 'message-id') {\n      messageId = value;\n    }\n  }\n  \n  // Extract body text\n  let bodyText = '';\n  if (payload.parts && Array.isArray(payload.parts)) {\n    for (const part of payload.parts) {\n      if (part.mimeType === 'text/plain' && part.body && part.body.data) {\n        bodyText += decodeBase64Url(part.body.data);\n      } else if (part.mimeType === 'text/html' && part.body && part.body.data && !bodyText) {\n        // Fallback to HTML if no plain text\n        bodyText += decodeBase64Url(part.body.data);\n      }\n    }\n  } else if (payload.body && payload.body.data) {\n    bodyText = decodeBase64Url(payload.body.data);\n  }\n  \n  results.push({\n    json: {\n      gmail_message_id: message.id,\n      thread_id: message.threadId || '',\n      from_email: fromEmail,\n      to_email: toEmail,\n      subject: subject || '',\n      content: bodyText.trim(),\n      raw_message: message\n    }\n  });\n}\n\nreturn results.length > 0 ? results : [{ json: { error: 'No email data extracted' } }];"
        },
        "id": "233de984-c5a5-41ec-919b-e0b02ac87322",
        "name": "Extract Email Content",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1008,
          0
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "operation": "getAll",
          "tableId": "users",
          "matchType": "allFilters",
          "filters": {
            "conditions": [
              {
                "keyName": "email",
                "condition": "ilike",
                "keyValue": "={{ $json.from_email }}"
              }
            ]
          }
        },
        "id": "073a7048-a22c-436c-aaf2-435839f118c4",
        "name": "Match User by Email",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1200,
          0
        ],
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "LiyXJ3va3HnvvAkS",
            "name": "Supabase account"
          }
        }
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 3,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "check-user-found",
                "leftValue": "={{ $json.itemCount }}",
                "rightValue": 0,
                "operator": {
                  "type": "number",
                  "operation": "larger"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "c26f8e8a-6a40-4920-8dfc-b23a266be7be",
        "name": "User Found?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          1408,
          0
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "jsCode": "// Get user_id from matched user\nconst items = $input.all();\nconst emailData = $('Extract Email Content').first().json;\n\n// Get user from Match User node\nlet userId = null;\nlet userEmail = null;\n\ntry {\n  const userData = $('Match User by Email').first().json;\n  if (userData && userData.id) {\n    userId = userData.id;\n    userEmail = userData.email || emailData.from_email;\n  }\n} catch (e) {\n  // User not found\n}\n\nif (!userId) {\n  return [{ json: { error: 'User not found', from_email: emailData.from_email } }];\n}\n\nreturn [{\n  json: {\n    ...emailData,\n    user_id: userId,\n    user_email: userEmail\n  }\n}];"
        },
        "id": "48406811-d7e1-4b80-a264-e4fe1ecfbd9d",
        "name": "Prepare Unified Event",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1600,
          0
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "tableId": "unified_events",
          "fieldsUi": {
            "fieldValues": [
              {
                "fieldId": "user_id",
                "fieldValue": "={{ $json.user_id }}"
              },
              {
                "fieldId": "source_type",
                "fieldValue": "email_command"
              },
              {
                "fieldId": "source_item_id",
                "fieldValue": "={{ $json.gmail_message_id }}"
              },
              {
                "fieldId": "content",
                "fieldValue": "={{ $json.content }}"
              },
              {
                "fieldId": "subject",
                "fieldValue": "={{ $json.subject }}"
              },
              {
                "fieldId": "sender_email",
                "fieldValue": "={{ $json.from_email }}"
              },
              {
                "fieldId": "processing_status",
                "fieldValue": "pending"
              },
              {
                "fieldId": "raw_data",
                "fieldValue": "={{ JSON.stringify($json.raw_message) }}"
              }
            ]
          }
        },
        "id": "bc94917c-dcf4-472c-9c79-7271b07b63b0",
        "name": "Create Unified Event",
        "type": "n8n-nodes-base.supabase",
        "typeVersion": 1,
        "position": [
          1808,
          0
        ],
        "alwaysOutputData": true,
        "credentials": {
          "supabaseApi": {
            "id": "LiyXJ3va3HnvvAkS",
            "name": "Supabase account"
          }
        },
        "continueOnFail": true
      },
      {
        "parameters": {
          "workflowId": {
            "__rl": true,
            "value": "jk5gL6NtGAGZi9G5",
            "mode": "list",
            "cachedResultUrl": "/workflow/jk5gL6NtGAGZi9G5",
            "cachedResultName": "ChungFamilyParents inbound message parser \u2014 Bippity - Email Command Processor MultiTenant"
          },
          "workflowInputs": {
            "mappingMode": "defineBelow",
            "value": {
              "unified_event_id": "={{ $json.id }}",
              "user_id": "={{ $json.user_id }}",
              "email_content": "={{ $json.content }}",
              "subject": "={{ $json.subject }}",
              "sender_email": "={{ $json.sender_email }}"
            },
            "matchingColumns": {},
            "schema": []
          },
          "options": {
            "waitForSubWorkflow": true
          }
        },
        "id": "3735e279-2407-4265-b2d2-3bf90ce7a4e8",
        "name": "Execute Command Processor",
        "type": "n8n-nodes-base.executeWorkflow",
        "typeVersion": 1.3,
        "position": [
          2000,
          0
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "jsCode": "// Check if processing was successful and mark email as processed\nconst items = $input.all();\nconst emailData = $('Extract Email Content').first().json;\nconst unifiedEventData = $('Create Unified Event').first().json;\n\ntry {\n  // Get result from command processor\n  const processorResult = items[0]?.json || {};\n  const processingStatus = processorResult.processing_status || unifiedEventData.processing_status || 'error';\n  \n  return [{\n    json: {\n      gmail_message_id: emailData.gmail_message_id,\n      thread_id: emailData.thread_id,\n      processing_status: processingStatus,\n      unified_event_id: unifiedEventData.id,\n      should_archive: processingStatus === 'completed',\n      should_label_error: processingStatus === 'error'\n    }\n  }];\n} catch (e) {\n  return [{\n    json: {\n      gmail_message_id: emailData.gmail_message_id,\n      processing_status: 'error',\n      error: String(e),\n      should_archive: false,\n      should_label_error: true\n    }\n  }];\n}"
        },
        "id": "694f2404-9917-4d7b-976b-eca3b0ac765d",
        "name": "Check Processing Result",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          2208,
          0
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "conditions": {
            "options": {
              "version": 3,
              "leftValue": "",
              "caseSensitive": true,
              "typeValidation": "strict"
            },
            "conditions": [
              {
                "id": "check-should-archive",
                "leftValue": "={{ $json.should_archive }}",
                "rightValue": true,
                "operator": {
                  "type": "boolean",
                  "operation": "true"
                }
              }
            ],
            "combinator": "and"
          },
          "options": {}
        },
        "id": "60e279f0-d927-4d57-ba77-77ae7abe69ed",
        "name": "Should Archive Email?",
        "type": "n8n-nodes-base.if",
        "typeVersion": 2.3,
        "position": [
          2400,
          0
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ 'https://gmail.googleapis.com/gmail/v1/users/me/messages/' + $json.gmail_message_id + '/modify' }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('Get Gmail Token for fgm@gmail.com').first().json.access_token }}"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "addLabelIds",
                "value": "=bippity-processed"
              },
              {
                "name": "removeLabelIds",
                "value": "=UNREAD,INBOX"
              }
            ]
          },
          "options": {}
        },
        "id": "0e965c75-c9e1-41b2-a93c-ceb6fe0553ca",
        "name": "Archive and Label Email",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          2608,
          0
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ 'https://gmail.googleapis.com/gmail/v1/users/me/messages/' + $json.gmail_message_id + '/modify' }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('Get Gmail Token for fgm@gmail.com').first().json.access_token }}"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "addLabelIds",
                "value": "=bippity-error"
              }
            ]
          },
          "options": {}
        },
        "id": "a3c7a897-afda-447e-a854-92a0caaa0311",
        "name": "Label Error Email",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          2608,
          208
        ],
        "alwaysOutputData": true
      },
      {
        "parameters": {
          "method": "POST",
          "url": "={{ 'https://gmail.googleapis.com/gmail/v1/users/me/messages/send' }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $('Get Gmail Token for fgm@gmail.com').first().json.access_token }}"
              }
            ]
          },
          "sendBody": true,
          "bodyParameters": {
            "parameters": [
              {
                "name": "raw",
                "value": "={{ $json.raw_email }}"
              }
            ]
          },
          "options": {}
        },
        "id": "d30d553c-5afd-4c8a-95d1-67b7edb8106b",
        "name": "Send Error Email to Unmatched User",
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.3,
        "position": [
          1600,
          400
        ],
        "alwaysOutputData": true,
        "continueOnFail": true
      },
      {
        "parameters": {
          "jsCode": "// Create raw email for sending error message\nconst items = $input.all();\nconst emailData = $('Extract Email Content').first().json;\n\nconst fromEmail = 'fgm@gmail.com';\nconst toEmail = emailData.from_email;\nconst subject = 'Re: ' + (emailData.subject || 'Your email to Bippity.boo');\nconst body = `Hi,\n\nI received your email but couldn't find an account associated with ${toEmail}.\n\nTo use Bippity.boo, please:\n1. Visit https://bippity.boo\n2. Sign up with Google using your email: ${toEmail}\n3. Complete the onboarding process\n\nOnce you're set up, you can email me at fgm@gmail.com with commands like:\n- \"Add fact: [your fact text]\"\n- \"Show my calendar for [date]\"\n- \"Create task: [task title] due [date]\"\n\n- Your Fairy God Mother \ud83e\udd16\n\n---\nOriginal message:\n${emailData.subject || '(no subject)'}\n${emailData.content.substring(0, 500)}`;\n\n// Create raw email format (base64url encoded)\nconst emailText = `To: ${toEmail}\nFrom: ${fromEmail}\nSubject: ${subject}\nContent-Type: text/plain; charset=utf-8\n\n${body}`;\n\nconst rawEmail = Buffer.from(emailText).toString('base64url');\n\nreturn [{\n  json: {\n    raw_email: rawEmail,\n    to_email: toEmail\n  }\n}];"
        },
        "id": "f2facef9-c1aa-48bf-b4d0-bec91be8e52f",
        "name": "Prepare Error Email",
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          1408,
          400
        ],
        "alwaysOutputData": true
      }
    ],
    "connections": {
      "Schedule Trigger": {
        "main": [
          [
            {
              "node": "Get Gmail Token for fgm@gmail.com",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Gmail Token for fgm@gmail.com": {
        "main": [
          [
            {
              "node": "Search Gmail for Commands",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Search Gmail for Commands": {
        "main": [
          [
            {
              "node": "Split Messages",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Split Messages": {
        "main": [
          [
            {
              "node": "Get Email Details",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Email Details": {
        "main": [
          [
            {
              "node": "Extract Email Content",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Extract Email Content": {
        "main": [
          [
            {
              "node": "Match User by Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Match User by Email": {
        "main": [
          [
            {
              "node": "User Found?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "User Found?": {
        "main": [
          [
            {
              "node": "Prepare Unified Event",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Prepare Error Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Unified Event": {
        "main": [
          [
            {
              "node": "Create Unified Event",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Create Unified Event": {
        "main": [
          [
            {
              "node": "Execute Command Processor",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Execute Command Processor": {
        "main": [
          [
            {
              "node": "Check Processing Result",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Check Processing Result": {
        "main": [
          [
            {
              "node": "Should Archive Email?",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Should Archive Email?": {
        "main": [
          [
            {
              "node": "Archive and Label Email",
              "type": "main",
              "index": 0
            }
          ],
          [
            {
              "node": "Label Error Email",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Prepare Error Email": {
        "main": [
          [
            {
              "node": "Send Error Email to Unmatched User",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "authors": "Hans Chung",
    "name": "Version f5fc0092",
    "description": "",
    "autosaved": false,
    "workflowPublishHistory": [
      {
        "createdAt": "2026-01-10T01:22:20.952Z",
        "id": 289,
        "workflowId": "GY0jcwcSgVgAfHiI",
        "versionId": "f5fc0092-4b66-4780-a06b-b59684e286c3",
        "event": "activated",
        "userId": "f11eb2cb-1df4-4679-ac05-38d806ba9f5a"
      }
    ]
  }
}