workflows/Calendar-Update-MultiTenant.json
{
  "success": true,
  "data": {
    "updatedAt": "2026-01-09T19:00:02.914Z",
    "createdAt": "2025-12-08T19:22:56.330Z",
    "id": "WBRw3JHDEvofddy6",
    "name": "Calendar_Update_MultiTenant",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "event_id"
              },
              {
                "name": "summary"
              },
              {
                "name": "start"
              },
              {
                "name": "end"
              },
              {
                "name": "description"
              },
              {
                "name": "location"
              },
              {
                "name": "rrule"
              },
              {
                "name": "access_token"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          0
        ],
        "id": "514d4933-3b02-4abb-9736-d37039f16548",
        "name": "Start"
      },
      {
        "parameters": {
          "url": "=https://www.googleapis.com/calendar/v3/calendars/primary/events/{{ $json.event_id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $json.access_token }}"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          224,
          0
        ],
        "id": "d5094802-34b0-424b-8777-dc9792b7087d",
        "name": "Get Existing Event",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "const input = $('Start').first().json;\nconst existing = $input.first().json;\n\n// Build updated event body, preserving existing values if not provided\nconst eventBody = {\n  summary: input.summary || existing.summary,\n  start: existing.start,\n  end: existing.end\n};\n\n// Update start time if provided\nif (input.start) {\n  eventBody.start = {\n    dateTime: input.start,\n    timeZone: existing.start?.timeZone || 'America/Los_Angeles'\n  };\n}\n\n// Update end time if provided\nif (input.end) {\n  eventBody.end = {\n    dateTime: input.end,\n    timeZone: existing.end?.timeZone || 'America/Los_Angeles'\n  };\n}\n\n// Update description if provided, otherwise keep existing\nif (input.description !== undefined && input.description !== '') {\n  eventBody.description = input.description;\n} else if (existing.description) {\n  eventBody.description = existing.description;\n}\n\n// Update location if provided, otherwise keep existing\nif (input.location !== undefined && input.location !== '') {\n  eventBody.location = input.location;\n} else if (existing.location) {\n  eventBody.location = existing.location;\n}\n\n// Handle RRULE for recurring events\nif (input.rrule && input.rrule.trim()) {\n  // Ensure RRULE prefix is not duplicated\n  const rule = input.rrule.startsWith('RRULE:') ? input.rrule : 'RRULE:' + input.rrule;\n  eventBody.recurrence = [rule];\n} else if (existing.recurrence) {\n  // Keep existing recurrence if not changing it\n  eventBody.recurrence = existing.recurrence;\n}\n\nreturn [{ json: { access_token: input.access_token, event_id: input.event_id, eventBody } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          448,
          0
        ],
        "id": "6d2163ce-676f-430d-86bc-7e09eb7e92a9",
        "name": "Merge Updates"
      },
      {
        "parameters": {
          "method": "PATCH",
          "url": "=https://www.googleapis.com/calendar/v3/calendars/primary/events/{{ $json.event_id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $json.access_token }}"
              },
              {
                "name": "Content-Type",
                "value": "application/json"
              }
            ]
          },
          "sendBody": true,
          "specifyBody": "json",
          "jsonBody": "={{ JSON.stringify($json.eventBody) }}",
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          672,
          0
        ],
        "id": "1b7a19bb-7d37-4cf2-b381-1840e0bd1b0b",
        "name": "Update Event",
        "onError": "continueRegularOutput"
      },
      {
        "parameters": {
          "jsCode": "const response = $input.first().json;\n\n// Check for error response\nif (response.error) {\n  return [{ json: { success: false, error: response.error.message || response.error, code: response.error.code } }];\n}\n\n// Check if we got a valid event back\nif (response.id) {\n  return [{\n    json: {\n      success: true,\n      event_id: response.id,\n      summary: response.summary,\n      start: response.start,\n      end: response.end,\n      description: response.description,\n      location: response.location,\n      htmlLink: response.htmlLink,\n      recurrence: response.recurrence || null\n    }\n  }];\n}\n\n// Unexpected response\nreturn [{ json: { success: false, error: 'Unexpected response format', raw: JSON.stringify(response).substring(0, 500) } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          880,
          0
        ],
        "id": "ecfaba20-7811-4121-bdfc-71af4ba79cf7",
        "name": "Format Results",
        "alwaysOutputData": true
      }
    ],
    "connections": {
      "Start": {
        "main": [
          [
            {
              "node": "Get Existing Event",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Get Existing Event": {
        "main": [
          [
            {
              "node": "Merge Updates",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Merge Updates": {
        "main": [
          [
            {
              "node": "Update Event",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Update Event": {
        "main": [
          [
            {
              "node": "Format Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "callerPolicy": "workflowsFromSameOwner",
      "availableInMCP": false,
      "timeSavedMode": "fixed",
      "errorWorkflow": "fyNaHTZY8javrwU5"
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "356c0218-66ca-46c7-b291-4b0c1e8b9cd6",
    "activeVersionId": "356c0218-66ca-46c7-b291-4b0c1e8b9cd6",
    "versionCounter": 16,
    "triggerCount": 0
  }
}
