workflows/Calendar-Delete-MultiTenant.json
{
  "success": true,
  "data": {
    "updatedAt": "2026-01-09T18:59:33.404Z",
    "createdAt": "2025-12-08T19:23:17.873Z",
    "id": "4EDuF5s0hKhyFmiE",
    "name": "Calendar_Delete_MultiTenant",
    "description": null,
    "active": true,
    "isArchived": false,
    "nodes": [
      {
        "parameters": {
          "workflowInputs": {
            "values": [
              {
                "name": "event_id"
              },
              {
                "name": "access_token"
              }
            ]
          }
        },
        "type": "n8n-nodes-base.executeWorkflowTrigger",
        "typeVersion": 1.1,
        "position": [
          0,
          0
        ],
        "id": "dfa18c4f-b994-4c23-bed6-522e80a9ebe5",
        "name": "Start"
      },
      {
        "parameters": {
          "method": "DELETE",
          "url": "=https://www.googleapis.com/calendar/v3/calendars/primary/events/{{ $json.event_id }}",
          "sendHeaders": true,
          "headerParameters": {
            "parameters": [
              {
                "name": "Authorization",
                "value": "=Bearer {{ $json.access_token }}"
              }
            ]
          },
          "options": {
            "response": {
              "response": {
                "neverError": true
              }
            }
          }
        },
        "type": "n8n-nodes-base.httpRequest",
        "typeVersion": 4.2,
        "position": [
          224,
          0
        ],
        "id": "83ce1ca2-6f8d-4bcf-8c21-f09838066de6",
        "name": "Delete Event"
      },
      {
        "parameters": {
          "jsCode": "const eventId = $('Start').first().json.event_id;\nconst httpResponse = $input.first();\nconst response = httpResponse.json;\nconst statusCode = httpResponse.binary ? undefined : (response?.statusCode || response?.status);\n\n// Debug: log what we received\nconsole.log('Response type:', typeof response);\nconsole.log('Response:', JSON.stringify(response));\n\n// DELETE returns 204 No Content on success (empty body)\n// Check all possible \"empty/success\" states\nconst isEmpty = \n  response === '' || \n  response === null || \n  response === undefined ||\n  (typeof response === 'object' && Object.keys(response).length === 0);\n\nif (isEmpty) {\n  return [{ json: { success: true, message: 'Event deleted successfully', event_id: eventId } }];\n}\n\n// If there's an explicit error in response\nif (response.error) {\n  return [{ json: { success: false, error: response.error.message || response.error, event_id: eventId } }];\n}\n\n// If we got some other response, still consider it success (might be metadata)\nreturn [{ json: { success: true, message: 'Event deleted', event_id: eventId, response: response } }];"
        },
        "type": "n8n-nodes-base.code",
        "typeVersion": 2,
        "position": [
          448,
          0
        ],
        "id": "f5740434-5b71-4160-aaaa-46040738874c",
        "name": "Format Results",
        "alwaysOutputData": true
      }
    ],
    "connections": {
      "Start": {
        "main": [
          [
            {
              "node": "Delete Event",
              "type": "main",
              "index": 0
            }
          ]
        ]
      },
      "Delete Event": {
        "main": [
          [
            {
              "node": "Format Results",
              "type": "main",
              "index": 0
            }
          ]
        ]
      }
    },
    "settings": {
      "executionOrder": "v1",
      "callerPolicy": "workflowsFromSameOwner",
      "availableInMCP": false,
      "timeSavedMode": "fixed",
      "errorWorkflow": "fyNaHTZY8javrwU5"
    },
    "staticData": null,
    "meta": null,
    "pinData": {},
    "versionId": "f34f3c96-d45f-45aa-b8a1-c07a1b6039f9",
    "activeVersionId": "f34f3c96-d45f-45aa-b8a1-c07a1b6039f9",
    "versionCounter": 13,
    "triggerCount": 0
  }
}
