workflows/onboarding-finalize.json
{
  "updatedAt": "2025-12-25T02:10:32.865Z",
  "createdAt": "2025-12-21T06:23:44.115Z",
  "id": "NScxKgKI3k1JDJai",
  "name": "Onboarding Finalize",
  "description": null,
  "active": false,
  "isArchived": false,
  "nodes": [
    {
      "parameters": {
        "httpMethod": "POST",
        "path": "onboarding-finalize",
        "options": {
          "responseData": "firstEntryJson"
        }
      },
      "id": "webhook-finalize",
      "name": "Onboarding Finalize Webhook",
      "type": "n8n-nodes-base.webhook",
      "typeVersion": 2.1,
      "position": [
        -400,
        304
      ],
      "webhookId": "f58d065b-2e09-4695-bb50-01ca19d539b7"
    },
    {
      "parameters": {
        "conditions": {
          "options": {
            "version": 2,
            "leftValue": "",
            "caseSensitive": true,
            "typeValidation": "strict"
          },
          "combinator": "and",
          "conditions": [
            {
              "id": "check-user-edits",
              "leftValue": "={{ $json.body.userEdits }}",
              "rightValue": "",
              "operator": {
                "type": "string",
                "operation": "exists"
              }
            }
          ]
        },
        "options": {}
      },
      "id": "check-edits",
      "name": "Has User Edits?",
      "type": "n8n-nodes-base.if",
      "typeVersion": 2.3,
      "position": [
        -208,
        304
      ]
    },
    {
      "parameters": {
        "jsCode": "// Prepare facts and edits for AI refinement\nconst items = $input.all();\nconst result = [];\n\nfor (const item of items) {\n  const facts = item.json.body.facts || [];\n  const userEdits = item.json.body.userEdits || '';\n  const userId = item.json.body.userId;\n  \n  result.push({\n    json: {\n      userId: userId,\n      facts: facts,\n      userEdits: userEdits,\n      factsText: facts.join('\\n'),\n      prompt: `The user has reviewed the following facts we extracted:\n${facts.join('\\n')}\n\nThey provided these edits/additions:\n${userEdits}\n\nPlease refine the facts list by:\n1. Incorporating their edits and additions\n2. Removing or correcting any facts they mentioned are wrong\n3. Adding any new facts they provided\n4. Keeping all facts that weren't mentioned\n\nReturn a JSON array of refined facts:\n[\"refined fact 1\", \"refined fact 2\", ...]`\n    }\n  });\n}\n\nreturn result;"
      },
      "id": "prepare-refinement",
      "name": "Prepare for Refinement",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        208
      ]
    },
    {
      "parameters": {
        "promptType": "define",
        "text": "={{ $json.prompt }}",
        "options": {
          "systemMessage": "You are a fact refinement agent. Your job is to refine a list of facts based on user feedback. Always return a valid JSON array of strings, even if empty."
        }
      },
      "id": "refine-agent",
      "name": "Refine Facts Agent",
      "type": "@n8n/n8n-nodes-langchain.agent",
      "typeVersion": 3,
      "position": [
        208,
        208
      ]
    },
    {
      "parameters": {
        "model": {
          "mode": "list",
          "value": "gpt-4o"
        },
        "builtInTools": {},
        "options": {
          "maxTokens": 2000,
          "temperature": 0.3
        }
      },
      "id": "gpt4o-refine",
      "name": "GPT-4o Refine",
      "type": "@n8n/n8n-nodes-langchain.lmChatOpenAi",
      "typeVersion": 1.3,
      "position": [
        208,
        400
      ],
      "credentials": {
        "openAiApi": {
          "id": "D1MyVMAJ9zLNahg3",
          "name": "OpenAi account"
        }
      }
    },
    {
      "parameters": {
        "jsCode": "// Parse AI output into facts array and preserve userId\nconst items = $input.all();\nconst result = [];\n\n// Get userId from webhook (fallback if not in input)\nlet webhookUserId = null;\ntry {\n  const webhookData = $node['Onboarding Finalize Webhook'].json;\n  if (webhookData && webhookData.body && webhookData.body.userId) {\n    webhookUserId = webhookData.body.userId;\n  }\n} catch (e) {\n  // If webhook data not accessible, continue without it\n}\n\nfor (const item of items) {\n  // Try to get userId from current item first, then fallback to webhook\n  const userId = item.json.userId || webhookUserId;\n  \n  if (!userId) {\n    // Skip items without userId - this should not happen\n    console.error('No userId found for item');\n    continue;\n  }\n  \n  let outputText = '';\n  if (item.json && item.json.output) {\n    outputText = item.json.output;\n  } else if (item.json && item.json.text) {\n    outputText = item.json.text;\n  } else if (typeof item.json === 'string') {\n    outputText = item.json;\n  } else {\n    continue;\n  }\n  \n  // Try to extract JSON array from output\n  let facts = [];\n  try {\n    const jsonMatch = outputText.match(/\\[[\\s\\S]*\\]/);\n    if (jsonMatch) {\n      facts = JSON.parse(jsonMatch[0]);\n      // Validate it's an array\n      if (!Array.isArray(facts)) {\n        facts = [];\n      }\n    } else {\n      // Fallback: split by newlines if not JSON\n      facts = outputText.split('\\n').filter(f => f.trim().length > 0);\n    }\n  } catch (e) {\n    // If parsing fails, use empty array\n    facts = [];\n  }\n  \n  result.push({\n    json: {\n      userId: userId,\n      facts: facts\n    }\n  });\n}\n\nreturn result.length > 0 ? result : items;"
      },
      "id": "parse-refined",
      "name": "Parse Refined Facts",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        480,
        208
      ]
    },
    {
      "parameters": {
        "jsCode": "// Use facts directly (no refinement)\nconst items = $input.all();\nconst result = [];\n\nfor (const item of items) {\n  result.push({\n    json: {\n      userId: item.json.body.userId,\n      facts: item.json.body.facts || []\n    }\n  });\n}\n\nreturn result;"
      },
      "id": "prepare-direct",
      "name": "Prepare Direct Save",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        0,
        400
      ]
    },
    {
      "parameters": {
        "jsCode": "// Split facts array into individual items for database insert\nconst items = $input.all();\nconst result = [];\n\nfor (const item of items) {\n  const userId = item.json.userId;\n  const facts = item.json.facts || [];\n  \n  for (const fact of facts) {\n    // Determine fact_type from fact text\n    let factType = 'general';\n    const factLower = String(fact).toLowerCase();\n    if (factLower.includes('attends') || factLower.includes('goes to')) {\n      factType = factLower.includes('school') ? 'school' : 'activity';\n    } else if (factLower.includes('grade') || factLower.includes('is in')) {\n      factType = 'child';\n    }\n    \n    result.push({\n      json: {\n        user_id: userId,\n        fact_type: factType,\n        fact_text: fact,\n        source: 'onboarding_scan',\n        confidence: 1.0,\n        is_confirmed: true\n      }\n    });\n  }\n}\n\nreturn result;"
      },
      "id": "split-facts",
      "name": "Split Facts for Insert",
      "type": "n8n-nodes-base.code",
      "typeVersion": 2,
      "position": [
        608,
        304
      ]
    },
    {
      "parameters": {
        "operation": "create",
        "tableId": "family_facts",
        "fieldsUi": {
          "fieldValues": [
            {
              "fieldId": "user_id",
              "fieldValue": "={{ $json.user_id }}"
            },
            {
              "fieldId": "fact_type",
              "fieldValue": "={{ $json.fact_type }}"
            },
            {
              "fieldId": "fact_text",
              "fieldValue": "={{ $json.fact_text }}"
            },
            {
              "fieldId": "source",
              "fieldValue": "={{ $json.source }}"
            },
            {
              "fieldId": "confidence",
              "fieldValue": "={{ $json.confidence }}"
            },
            {
              "fieldId": "is_confirmed",
              "fieldValue": "={{ $json.is_confirmed }}"
            }
          ]
        }
      },
      "id": "save-facts",
      "name": "Save to family_facts",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        800,
        304
      ],
      "credentials": {
        "supabaseApi": {
          "id": "LiyXJ3va3HnvvAkS",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "getAll",
        "tableId": "users",
        "filters": {
          "conditions": [
            {
              "keyName": "id",
              "condition": "eq",
              "keyValue": "={{ $('Onboarding Finalize Webhook').item.json.body.userId }}"
            }
          ]
        }
      },
      "id": "get-user-email",
      "name": "Get User Email",
      "type": "n8n-nodes-base.supabase",
      "typeVersion": 1,
      "position": [
        1008,
        304
      ],
      "credentials": {
        "supabaseApi": {
          "id": "LiyXJ3va3HnvvAkS",
          "name": "Supabase account"
        }
      }
    },
    {
      "parameters": {
        "operation": "send",
        "sendTo": "={{ $json.email }}",
        "subject": "Welcome to Bippity.boo! Email me any time.",
        "emailType": "html",
        "message": "<!DOCTYPE html><html><head><meta charset=\"utf-8\"></head><body style=\"font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, sans-serif; background-color: #f8fafc; padding: 40px 20px; color: #1e293b; line-height: 1.6;\"><table style=\"max-width: 600px; margin: 0 auto; background-color: #ffffff; border-radius: 8px; box-shadow: 0 1px 3px rgba(0,0,0,0.1);\"><tr><td style=\"padding: 40px;\"><div style=\"text-align: center; margin-bottom: 32px;\"><div style=\"display: inline-block; background-color: #4f46e5; padding: 12px; border-radius: 8px; margin-bottom: 16px;\"><span style=\"color: #ffffff; font-size: 24px;\">✨</span></div><h1 style=\"margin: 0 0 8px 0; font-size: 28px; font-weight: 700; color: #1e293b;\">Welcome to bippity.boo!</h1></div><p style=\"margin: 0 0 24px 0; font-size: 16px; color: #475569;\">Your family facts have been saved. I'll create and update relevant calendar events and tasks in your Google Calendar and Google Tasks. I'll judge relevance based on the facts in the Family Facts section below.</p><p style=\"margin: 0 0 24px 0; font-size: 16px; color: #475569;\">In the meantime, feel free to forward me anything important with or without instructions. Also feel free to email me to update facts about your family.</p><div style=\"margin: 32px 0; padding: 24px; background-color: #f1f5f9; border-left: 4px solid #4f46e5; border-radius: 4px;\"><h2 style=\"margin: 0 0 16px 0; font-size: 18px; font-weight: 600; color: #1e293b;\">Family Facts:</h2><p style=\"margin: 0; color: #64748b; font-style: italic;\">Your facts have been saved successfully.</p></div><div style=\"margin-top: 32px; padding-top: 24px; border-top: 1px solid #e2e8f0; text-align: center;\"><p style=\"margin: 0; font-size: 14px; color: #64748b;\"><a href=\"https://bippity.boo/dashboard\" style=\"color: #4f46e5; text-decoration: none; font-weight: 500;\">Visit your dashboard</a> to get started.</p></div><div style=\"margin-top: 32px; text-align: center;\"><p style=\"margin: 0; font-size: 14px; color: #94a3b8;\">F.M.G at bippity.boo</p></div></td></tr></table></body></html>",
        "options": {}
      },
      "type": "n8n-nodes-base.gmail",
      "typeVersion": 2.2,
      "position": [
        1232,
        304
      ],
      "id": "6a99ae8c-2cd0-44c9-b7ce-a31d58e16691",
      "name": "Send a message",
      "webhookId": "2f875364-a6e8-4212-a076-59c65666549e",
      "credentials": {
        "gmailOAuth2": {
          "id": "Ldd5JDZnnNLDR97d",
          "name": "FMG"
        }
      }
    }
  ],
  "connections": {
    "Onboarding Finalize Webhook": {
      "main": [
        [
          {
            "node": "Has User Edits?",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Has User Edits?": {
      "main": [
        [
          {
            "node": "Prepare for Refinement",
            "type": "main",
            "index": 0
          }
        ],
        [
          {
            "node": "Prepare Direct Save",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare for Refinement": {
      "main": [
        [
          {
            "node": "Refine Facts Agent",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Refine Facts Agent": {
      "main": [
        [
          {
            "node": "Parse Refined Facts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "GPT-4o Refine": {
      "ai_languageModel": [
        [
          {
            "node": "Refine Facts Agent",
            "type": "ai_languageModel",
            "index": 0
          }
        ]
      ]
    },
    "Parse Refined Facts": {
      "main": [
        [
          {
            "node": "Split Facts for Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Prepare Direct Save": {
      "main": [
        [
          {
            "node": "Split Facts for Insert",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Split Facts for Insert": {
      "main": [
        [
          {
            "node": "Save to family_facts",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Save to family_facts": {
      "main": [
        [
          {
            "node": "Get User Email",
            "type": "main",
            "index": 0
          }
        ]
      ]
    },
    "Get User Email": {
      "main": [
        [
          {
            "node": "Send a message",
            "type": "main",
            "index": 0
          }
        ]
      ]
    }
  },
  "settings": {
    "executionOrder": "v1",
    "saveDataErrorExecution": "all",
    "saveDataSuccessExecution": "all",
    "saveManualExecutions": true,
    "saveExecutionProgress": true,
    "callerPolicy": "workflowsFromSameOwner",
    "availableInMCP": false
  },
  "staticData": null,
  "meta": {
    "templateCredsSetupCompleted": true
  },
  "pinData": {},
  "versionId": "df8a93b8-2d2e-42db-86a7-0da03bcbf9a0",
  "activeVersionId": null,
  "versionCounter": 20,
  "triggerCount": 0
}




